<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="https://kit.fontawesome.com/0c3e7b6922.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@300&family=Space+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style-mobile.css') }}">

    
    <link rel="icon" href="{{ url_for('static', filename='images/ico/logo_ico.ico') }}" type="image/x-icon">


</head>
<meta charset="UTF-8">
<title>Demande de Saint-Valentin</title>
</head>
<body>
    <div class="container">
        <img class="bear" src="{{ url_for('static', filename='/images/bear_love.gif')}}"/>
        <h2 id="question">Babe, veux-tu sortir avec moi pour la Saint-Valentin?</h2>
    
        <button id="oui" class="btn oui"> OUI <i class="fa-regular fa-heart"></i></button>
        <button id="non" class="btn non">NON <i class="fa-regular fa-face-sad-cry"></i></i></button>
    </div>

    <div id="reponse"></div>
    <div id="score"></div>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
